@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz.</h1>
    <br />
    <h2>Sistemdeki kitaplara nasıl ulaşabilirim ?</h2>
    <p>Sistemdeki kitaplara erişmek için "Kitap Listesi" kısmına tıklayınız.</p>
    <br />
    <br />
    <h2>Sisteme nasıl veri eklenir ?</h2>
    <p>Sisteme yeni bir kitap eklemek için "Kitap Ekle" kısmına tıklayınız.</p
    
</div>
